


  
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
    transition: opacity 0.3s ease;
  }
  
  .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 550px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .modal-header .checkmark-image {
    width: 100px; 
    height: auto;
    border-radius: 50%;  
  }
  
  
  .modal-header h3 {
    font-size: 22px;
    color: #333;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .modal-body {
    font-size: 18px;
    color: #555;
    margin-top: 15px;
  }
  .modal-body p{
    background-color: transparent;
  }
  
  .modal-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .modal-footer .btn {
    padding: 12px 25px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    transition: all 0.3s ease;
    color: white;
  }
  
  .maybe {
    background-color: green;
  }
  
  .yes {
    background-color: blue;
  }
  
  .cancel, .no {
    background-color: red;
  }
  
  /* Hover effects */
  .maybe:hover {
    background-color: darkgreen;
  }
  
  .yes:hover {
    background-color: darkblue;
  }
  
  .cancel:hover {
    background-color: darkred;
  }
  
  .close-btn {
    position: absolute;
  top: -10px;
  right: -5px;
    font-size: 30px;
    color: #333;
    cursor: pointer;
  }
  
  .close-btn:hover {
    color: #fa4141;
  }
  
  